:root {
    --logo-item-decor: #000000;
    --main-color: #212121;
    --secondary-color: #757575;
    --blue-color: #2196F3;
    --first-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --white-general-color: #FFFFFF;
}

.main-title {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 26px;
    line-height: calc(31/26);
}