:root {
    --main-color: #2E2F42;
    --secondary-color: #434455;
    --first-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --white-general-color: #FFFFFF;
    --logo-iteam-decor: #4D5AE5;
    --header-button: #404BBF;
    --white-secondary-color: #F4F4FD;
    --section-team-color: #F4F4FD;
    --footer-color: #E7E9FC;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


body {
    color: var(--main-color);
    background-color: var(--white-general-color);
    font-family: var(--first-font);
}

.logo-link {
    color: var(--main-color);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.logo {
    color: var(--logo-iteam-decor);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.footer-logo-span {
    color: var(--white-secondary-color);
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}

.navigation-link {
    color: var(--main-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation-list .navigation-link:hover,
.navigation-list .navigation-link:focus {
    color: var(--header-button);
}

.navigation-list .navigation-link:active {
    text-decoration: underline;
    color: var(--header-button);
}

.adress-link {
    color: var(--secondary-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.adress-list .adress-link:hover,
.adress-list .adress-link:focus {
    color: var(--header-button);
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-general-color);

}

.main-section {
    background-color: var(--main-color);
    


}

.main-button {
    font-family: inherit;
    color: var(--white-general-color);
    background-color: var(--logo-iteam-decor);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    font-size: 16px;
}


.main-button:hover,
.main-button:focus {
    color: var(--white-general-color);
    background-color: var(--header-button);
    cursor: pointer;
}

.adress {
    font-style: normal;
}

.hero-button {
    font-family: inherit;
    color: var(--logo-iteam-decor);
    font-weight: 500;
    line-height: 1.5;
    background-color: var(--footer-color);
    padding: 12px 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    color: var(--white-general-color);
    background-color: var(--header-button);
    cursor: pointer;
}

.hero-button:active {
    color: var(--main-color);
}

.hero-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.hero-text {
    color: var(--secondary-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-team {
    background: var(--section-team-color);

}

.footer-about {
    background-color: var(--main-color);
}

.footer-logo {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-color);
}



.future-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.future-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.apps-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
}

.subtitle-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.text-team {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.footer-text {
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--footer-color);
}