:root{
--main-color:#2E2F42;
--secondary-color:#434455;
--first-font:'Roboto', sans-serif;
--secondary-font:'Raleway',sans-serif;
--white-general-color: #FFFFFF;
--logo-iteam-decor:#4D5AE5;
}

.link {
text-decoration: none;
}
.list {
list-style: none;
}


body {
color: var(--main-color);
background-color: var(--white-general-color);
font-family: var(--first-font);
}

.logo-link {
color: var(--main-color);
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.2;
}

.title-span {
color: #4D5AE5;
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.2;
}
.footer-title-span {
color: #F4F4FD;
}

.navigation-link {
color: var(--main-color);
font-family: var(--first-font);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.navigation-link .link:hover, 
.navigation-link .link:focus {
}
   

.adress-link {
color: var(--secondary-color);
background-color: transparent;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}
.hero-button {
color: var(--logo-iteam-decor);
font-weight: 500;
line-height: 1.5;
background-color: #E7E9FC;
}

.hero-button:hover,
.hero-button:focus {
color: #FFFFFF;
background-color: #404BBF;
cursor: pointer;
}

.hero-button:active { 
color: var(--main-color);
}
  
.hero-subtitle{
font-size: 18px;
line-height: 2;
}

.hero-text{
color: var(--secondary-color);
line-height: 1.87;    
}

.section-team {
background: #F4F4FD;   
}

.footer-about {
background-color: var(--main-color);
}

.logo-about {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}

.main-button {
color: #FFFFFF;
background-color: var(--logo-iteam-decor);
font-weight: 500;
font-size: 16px;
line-height: 1.5; 
}

.secondary-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-color);
}

.secondary-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-color);
}

.apps-subtitle {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-color);
}

.subtitle-team { 
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-color);
}

.text-team {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--secondary-color);
}